{
	debug
	log {
		format console
	}
}

josh-philpott.com, :443, :80 {

	root * /srv/philpott-law.com

	log

	tls {
	       dns cloudflare {env.CF_API_TOKEN}
	}


	file_server

	import LegacyRedirects

}