<p></p>
<p>Contemplating a divorce is one of life’s most difficult decisions and it can be very stressful. However, there are
    important decisions that will need to be made that can have an impact on your future. So, if you live in Orange
    City, or the surrounding areas in DeLand, Deltona, Daytona Beach, or Sanford, and are thinking about divorce, it is
    imperative you consult with a trusted Divorce Lawyer like Danny Philpott as early as possible.</p>
<h2>An Accomplished Family Law Lawyer Who Cares</h2>
<p>Danny Philpott is an experienced, considerate and understanding <a
        href="/family-law/dissolution-of-marriage-divorce/">divorce lawyer</a> who has
    helped spouses in Orange City, DeLand, Daytona Beach, Sanford, Deltona, and neighboring communities seek an
    equitable distribution of assets through the dissolution of their marriage.</p>
<p>One area of contention that often arises is regarding the disposition of marital assets and a misunderstanding of
    what the law considers non-marital assets. Sometimes a spouse may try to hide certain assets, which can negatively
    impact both parties in the long run.</p>
<p>A Divorce Attorney can help not only protect the integrity of your marital assets, but also ensure you receive a fair
    and equitable divorce settlement.</p>

<h2>Marital Assets</h2>
<p> Under Florida law, most assets that are acquired or purchased during the marriage will be considered marital
    property irrespective of who actually made the purchase or signed the agreement. If a car or house, for example, is
    purchased by either spouse during the marriage, it is considered marital property under the law. While your divorce
    attorney will make the case for his or her spousal client for keeping certain marital assets, the court will
    ultimately make the final decision.</p>

<h2>Non-Marital Assets</h2>

<p>Generally speaking, assets or income that a spouse acquired or earned prior to marriage will be considered a
    non-marital asset and will not be subject to divorce proceedings. However, there are some exceptions such as certain
    gifts or inheritances from a relative which may also be considered non-marital property even though it was acquired
    during the marriage. Because there are always exceptions to the rule, the importance of choosing an experienced
    divorce attorney is clear.</p>
<p>If you are contemplating divorce in Orange City, FL, <a href="/contact/">contact
        us</a> today at 386-873-2884 for a free consultation with an experienced Divorce Lawyer.</p>