<p></p>
<p>At Philpott Law, we understand that when you need a <a href="/family-law/dissolution-of-marriage-divorce/">divorce
        attorney </a>in DeLand, FL, to handle your
    dissolution of marriage, it can be a complex and emotional issue. This issue becomes even more complicated when you
    are seeking child custody and child support. That's why it is essential to consult with an experienced and
    compassionate divorce lawyer that will help you achieve the most desirable and economic outcome. Our firm serves
    clients in Daytona Beach, DeBary, DeLand, Deltona, Lake Helen, Orange City, and Volusia County, FL.</p>
<h2>Dissolution of Marriage</h2>
<p>In Florida, divorce is legally known as 'dissolution of marriage’. A spouse doesn't need grounds to dissolve the
    marriage, simply declaring that the marriage is irretrievably broken is sufficient enough to obtain a legal divorce.
    However, before a spouse can file a petition for Dissolution of Marriage, they must have been a Florida resident for
    at least six months.</p>
<h2>Distribution of Property</h2>
<p>Florida is an equitable distribution state, which means Volusia County Family Court will try to split marital assets
    like automobiles, bank accounts, stocks, jewelry and real estate so that each spouse gets 50 percent. However,
    distribution of assets gets rather complicated when marital property includes complex properties like family
    heirlooms, investments, a business, or other assets that one of the spouses may want to keep control of. Therefore,
    it is best to consult with an experienced divorce lawyer in DeLand, as soon as the dissolution of marriage has been
    filed, to ensure your rights are protected during the divorce proceedings.</p>
<h2>Child Custody and Child Support</h2>
<p>Florida courts believe that it is in the child's best interest for each parent to equally participate in the
    emotional, financial, and health decisions of raising their minor child(ren), regardless of who has primary custody.
    Therefore, the family court will require each parent to complete a Parenting Plan, a legally binding agreement that
    includes visitation, child custody, and child support. The family court may also require each parent to attend
    parenting classes before approving the plan. In many cases, mediation can also help spouses reach an equitable
    marital settlement agreement without the time and expense of going to Family Court.</p>
<p><strong>If you are contemplating a divorce in Volusia County, <a href="/contact/">contact</a> Philpot Law at
        (386) 873-2884 for a free initial consultation with an experienced divorce attorney in DeLand, FL,
        today!</strong></p>