<h2>Arrested in Volusia County, or Surrounding County, for DUI? We Can Help</h2>
<p>Driving under the influence (DUI) is a serious crime and the stakes are high. Convictions in Volusia County range
	from fines and loss of driving privileges to lengthy prison sentences. However, not all cases result in guilty
	verdicts and it is important to note that judges have discretion when it comes to <a
		href="https://www.flsenate.gov/laws/statutes/2018/316.193/" target="_blank">DUI penalties in Florida</a>. That's
	why it's important to hire an experienced, knowledgeable DUI lawyer serving the DeLand, Deltona, DeBary, Orange City
	and Daytona Beach areas who is familiar with the Volusia County courts and who will vigorously defend your case.</p>
<h2>Florida DUI: A Lot to Lose</h2>
<p>If you are charged with DUI in Florida, there are many consequences if convicted. While most are misdemeanors, they
	impose severe sanctions including:</p>
<ul type="disc">
	<li>Jail time</li>
	<li>Probation</li>
	<li>Fines and Costs</li>
	<li>Mandatory defensive driving classes</li>
	<li>Vehicle Impoundment</li>
	<li>Loss of License</li>
	<li>Enhance penalties for multiple DUI&rsquo;s</li>
</ul>
<p>Some DUIs are much more serious, with even greater penalties, including prison time, such as:</p>
<h3>Felony DUI</h3>
<ul type="disc">
	<li>DUI with serious bodily injury</li>
	<li>DUI Manslaughter</li>
	<li>4th DUI</li>
</ul>
<h3>DID YOU KNOW?</h3>
<ul type="disc">
	<li>In Florida you only have 10 days to challenge a driver&rsquo;s license suspension.</li>
	<li>Florida law requires that you submit to a breathalyzer test.</li>
	<li>Police officers will ask you to perform field sobriety exercises to help determine whether you are impaired.
	</li>
</ul>
<h3>What is the ten day rule?</h3>
<p>Once arrested you are permitted to have temporary driving privileges for ten days for business purposes only. During
	this time you may request an administrative hearing to challenge your license suspension. If your appeal is timely
	you can continue to drive for up to 42 days while you await your hearing. If you prevail at the hearing your driving
	privileges are reinstated pending the outcome of your case. Losing means your license is terminated after the
	expiration of your temporary 42-day license.</p>
<h3>The Breathalyzer Test</h3>
<p>A Blood Alcohol Level (BAL) greater than .08 is presumptive proof of intoxication. The presumption is, however,
	rebuttable if sufficient evidence is presented. Many wonder, what if I refuse to provide a breath sample?  Florida,
	like many other states in the country, under Florida&rsquo;s Implied Consent statute requires the mandatory and
	immediate suspension of a driver license on-the-spot for anyone who refuses to take a breathalyzer test. The
	suspension is effective immediately and remains in effect for one year even if the driver is found not guilty of a
	DUI. However, if it&rsquo;s the first offense, the driver can request a &ldquo;hardship&rdquo; license that will
	permit them to drive to work, school, or to visit the doctor during the suspension period. Florida law also makes it
	a criminal offense to refuse to submit to a breathalyzer test in some circumstances, depending upon your prior
	record. Therefore, in the vast majority of cases, a refusal is not helpful.</p>
<p>On the other hand, if you do consent to take a breathalyzer test and score over the legal limit of .08, your license
	will also be automatically suspended for at least six months and there will be other mandatory penalties if you are
	found guilty. This is just one of many examples where the law provides certain advantages to the prosecution, even
	though everyone is entitled to a fair trial. </p>
<h3>What are Field Sobriety Exercises?</h3>
<p>Field sobriety tests are a series of tasks you will be asked to perform by police officers if pulled over and
	suspected of DUI. Often they are recorded with the police officer&rsquo;s body cam and results are used to support
	an arrest. Types of exercises you may asked to perform include:</p>
<ul type="disc">
	<li><strong><em>The Walk and Turn.</em></strong> This exercise requires one to walk &ldquo;heel to toe&rdquo; in a
		straight line for a number of steps then pivoting on one foot and returning to the starting point. Police
		officers are looking for indications of impairment such as poor balance and failure to follow directions.</li>
</ul>
<ul type="disc">
	<li><strong><em>Touching your nose.</em></strong> Standing with feet shoulder width apart and arms extended outward,
		you will be asked to raise each arm in turn, touching your nose with your index finger with head tilted back. As
		with other exercises, police officers are looking for balance issues and whether you can follow their commands.
	</li>
	<li><strong><em>One legged stand.</em></strong> This test is performed by raising one foot off the ground several
		inches while standing on the other leg.</li>

	<li><strong><em>Horizontal Gaze Nystagmus (HGN).</em></strong> In this test a police officer will hold an ink pen in
		front of your face and ask you to track the movement of the pen back and forth using only your eyes. Police
		officers are looking for jerking movements of the eyes which is considered a factor of impairment.</li>
</ul>
<p>Performing well on field sobriety exercises, especially when recorded can aide in your defense to a DUI charge and
	possibly lead to a reduction or dismissal of the charge. On the other hand, as they say &ldquo;a picture is worth a
	thousand words.&rdquo;</p>
<h2>Contact Philpott Law: Successful DUI Attorney</h2>
<p>The DUI process is complex. In Florida, if you don't take the right steps within 10 days of a DUI charge, you will
	lose your driver's license even if you are not guilty. Remember, just because you are arrested for a Driving Under
	the Influence doesn&rsquo;t mean that you are guilty of the offense. And even if you were over the legal limit, it
	is often possible to resolve the case without a DUI conviction.&nbsp;<a href="/contact/">Contact
		us</a>&nbsp;today at (386) 873-2884 and let an
	experienced attorney and former prosecutor, serving DeLand and the surrounding Volusia County, FL areas, handle your
	defense! </p>
</div>