<br>
<p><em>When you need an experienced <a href="/family-law/">family law
            attorney</a> in DeLand, FL, you can count on Philpott Law to be on your side. Our firm is located in
        historic downtown DeLand and represents clients in Family Law matters such as Dissolution of Marriage (Divorce),
        Child Support, Time Sharing and Modification of Court Orders. We serve clients throughout Volusia County,
        including Deltona, DeBary, Orange City, and Sanford, FL.</em></p>
<h2>Dissolution of Marriage</h2>
<p>We understand that considering dissolution of marriage is an emotional and challenging time in one's life. Although
    Florida doesn't require grounds for divorce, it is vital to consult with an experienced divorce attorney as soon as
    possible to develop a strategy that will ensure your rights and assets are protected. The divorce procedure can be
    more complicated when you have child custody, child support, spousal support, and distribution of marital assets to
    consider. Without the representation of a knowledgeable and reliable family law attorney, you may not achieve the
    most desirable outcome.</p>
<h2>Equitable Distribution State</h2>
<p>Florida is an equitable distribution state. That means Family Court will attempt to distribute marital assets (and
    debts) equally during a divorce, but that doesn't necessarily mean they will be distributed 50-50. If you don’t have
    an experienced family law lawyer representing you, you may end up losing some of the assets you acquired during the
    marriage and/or you may end up with a settlement that affects your future income potential.</p>
<h2>Mediation Vs. Court</h2>
<p>The State of Florida typically requires divorce cases to go through mediation before trial. Mediation is a less
    costly, more informal alternative to a divorce trial. It lets both parties hammer out the divorce details, such as
    child custody and support, alimony, and marital assets, with both sides giving a little to get a desirable outcome.
    If both parties are unable to resolve their differences through mediation, they will proceed to a trial. Ultimately,
    the family court will determine the settlement of the divorce. As your family law attorney, we will prepare and
    represent your case to achieve the most desirable settlement.</p>
<p><em>Visit our website or <a href="/contact/">contact us</a> at (386) 873-2884 to
        schedule a free initial consultation with a family law attorney in DeLand, FL, today!</em></p>