<h1 class="homeh1">DeLand Family Law Lawyer &amp; Criminal Defense Attorney</h1>
<h2>Problem-Centered, People-Focused Representation
</h2>
<p>At Philpott Law, LLC, we are committed to serving the legal needs of the communities we serve. We are
    appreciative of
    your past support and look forward to providing you with many years of professional and dependable
    legal representation.</p>
<p>In most circumstances, seeking out the services of an attorney means that a serious and significant
    problem has
    arisen that requires expert guidance and legal analysis. We hope that you will place that trust in
    us, and allow the
    attorneys at Philpott Law an opportunity to listen to your concerns and evaluate your problem.</p>
<p>We pledge to answer your questions in plain, clear language no matter how complex your issue may be.
    Contact us today
    if you are in need of a family law lawyer, a divorce lawyer, or criminal defense attorney in DeLand,
    Daytona Beach,
    Deltona, Orange City, Sanford, or surrounding areas.</p>
<h2>Marital (Family) Law</h2>
<p>Our firm concentrates its efforts largely in the area of marital, or
    <a href="family-law/">family law</a>. Whether it be an action for
    <a href="family-law/dissolution-of-marriage-divorce/">divorce</a>, establishing th
    <a href="family-law/time-sharing-child-support/">custodial rights of parents</a>, assisting in
    matters relating to paternity, or
    <a href="family-law/modification-of-court-orders/">enforcing previous orders from a Court</a>,
    we are here to provide answers and offer solutions for a variety of family problems.
</p>
<h2>Criminal Law
</h2>
<p>In addition to our marital and family law practice, we are also dedicated to the practice of
    <a href="criminal-defense/">criminal defense</a>
    and the representation of the rights and interests of those charged with crimes. The Constitution
    and the laws of our
    State demand and require that everyone charged with a crime be treated with due process and
    fundamental fairness. If you
    should need the services of an experienced criminal law attorney, we hope you will allow us at
    Philpott Law an
    opportunity to defend your rights.
</p>
<h2>Experienced & Dedicated
</h2>
<p>Attorney
    <a href="attorney-bios/danny-philpott/">Danny Philpott</a>
    is an experienced criminal and family law trial attorney. He is a former Assistant State Attorney,
    having prosecuted
    many misdemeanor and felony offenses from driver's license violations to drug possession and
    burglary. As a defense
    attorney, he has provided numerous individuals with zealous and aggressive representation.
</p>
<p>As a family attorney he has assisted many families confronting the issues of divorce, custody, child
    support and
    parental rights. In addition, Mr. Philpott is a Florida Supreme Court certified family law mediator.
    The firm of
    Philpott Law hopes you will consider our record of service, experience and commitment as you
    contemplate the hiring of
    an attorney.</p>