<p></p>
<ul>
	<li> <a href="/attorney-bios/danny-philpott/">Mr. Danny Philpott Esq.</a></li>
	<li> <a href="/contact/">Contact Us</a> </li>
	<li> <a href="/disclaimer/">Disclaimer</a> </li>
	<li> <a href="/firm-overview/">Firm Overview</a> </li>
	<li> <a href="/">Home</a> </li>
	<li> <a href="/practice-areas/">Practice Areas</a>
		<ul>
			<li> <a href="/criminal-defense/">Criminal Defense</a>
				<ul>
					<li> <a href="/criminal-defense/criminal-offenses/">Criminal Offenses</a> </li>

					<li><a href="/criminal-defense/assault-battery/">Assault / Battery</a></li>
					<li><a href="/criminal-defense/drug-crimes/">Drug Crimes</a></li>
					<li><a href="/criminal-defense/dui-attorney-deland/">DUI / DWI</a></li>
					<li><a href="/criminal-defense/theft-fraud/">Theft / Fraud</a></li>
					<li><a href="/criminal-defense/grand-theft/">Grand Theft</a></li>
					<li><a href="/criminal-defense/petit-theft/">Petit Theft</a></li>
					<li> <a href="/criminal-defense/record-seals-expungements/">Record Seals and Expungements</a>
					</li>
					<li> <a href="/criminal-defense/probation-violations/">Violations of Probation</a> </li>
					<li><a href="/criminal-defense-attorney-deland/">A Criminal Defense Attorney Fights for your
							Rights in DeLand and Volusia County</a></li>
					<li><a href="/criminal-defense-attorney-daytona-beach/">When you need a Criminal Defense
							Attorney
							in Daytona Beach</a></li>
					<li><a href="/criminal-defense-attorney-orange-city/">When to Call a Criminal Defense Attorney
							in
							Orange City</a></li>
					<li><a href="/dui-attorney-daytona-beach/">DUI Attorney Daytona Beach</a></li>
					<li><a href="/criminal-defense-attorney-deltona/">Your Deltona Criminal Defense Attorney can
							help
							Seal or Expunge Certain Records</a></li>
					<li><a href="/criminal-defense-divorce-family-attorney-deltona/">Deltona Criminal Defense,
							Family
							Law and Divorce Lawyer with Problem-Centered, People-Focused Representation </a></li>
					<li><a href="/dui-criminal-defense-attorney-daytona-beach/">Criminal Defense Attorney Serving
							Daytona Beach: Count on Philpott Law</a></li>
					<li><a href="/criminal-defense-attorney-debary-fl/">How a Criminal Defense Attorney Can Help
							Expunge a Criminal Record in DeBary, FL</a></li>
				</ul>
			</li>
			<li> <a href="/family-law/">Family Law</a>
				<ul>
					<li> <a href="/family-law/dissolution-of-marriage-divorce/">Dissolution of Marriage/Divorce</a>
					</li>
					<li> <a href="/family-law/modification-of-court-orders/">Modification of Court Orders</a> </li>
					<li> <a href="/family-law/time-sharing-child-support/">Time-Sharing and Child Support</a></li>
					<li><a href="/divorce-attorney-deland-fl/">Divorce Attorney in DeLand, FL</a></li>
					<li><a href="/divorce-attorney-deltona/">Philpott Law – A Different Breed of Deltona, FL Divorce
							Attorney</a></li>
					<li><a href="/divorce-attorney-orange-city-fl/">How a Local Divorce Attorney Can Help Protect
							Your Marital Assets – Orange City, FL</a></li>
					<li><a href="/divorce-attorney-deltona-fl/">Aggressive Divorce Attorney in Deltona, FL</a></li>
					<li><a href="/divorce-attorney-daytona-beach-fl/">Aggressive Divorce Attorney in Daytona Beach,
							FL</a></li>
					<li><a href="/divorce-lawyer-sanford/">Experienced Divorce Lawyer Sanford, FL</a></li>
					<li><a href="/family-law-attorney-deland-fl/">Family Law Attorney in DeLand, FL</a></li>
					<li><a href="/family-law-lawyer-daytona-beach-fl/">Family Law Lawyer Daytona Beach, FL</a></li>
				</ul>
			</li>
			<li> <a href="/practice-areas/general-civil-law/">General Civil Law</a> </li>
		</ul>
	</li>
	<li> <a href="/resources/">Resources</a><br>
	</li>
</ul>