<p><br>
	When you have been charged with a criminal offense such as drug posession or a DUI, it is critical to have an
	attorney dedicated to protecting your rights and seeking the best possible outcome. It is also important to work
	with a lawyer who thoroughly understands the criminal justice system. At our DeLand, Florida, law firm, Philpott
	Law, our attorneys have extensive backgrounds in criminal law. Danny Philpott was a Volusia County prosecutor. They
	have the experience and knowledge to mount a vigorous defense on behalf of clients.</p>
<h2>Our Criminal Defense Practice</h2>
<p>We vigorously defend people against charges such as:</p>
<ul>
	<li><a href="/criminal-defense/drug-crimes/">Drug possession</a>, including possession of cocaine, crack,
		heroin, methamphetamine
		and prescription narcotics such as OxyContin and Vicodin</li>
	<li><a href="/criminal-defense/drug-crimes/">Possession</a> of drug paraphernalia</li>
	<li><a href="/criminal-defense/drug-crimes/">Drug distribution and trafficking</a></li>
	<li><a href="/criminal-defense/assault-battery/">Battery and aggravated battery</a></li>
	<li><a href="/criminal-defense/assault-battery/">Assault</a></li>
	<li>Domestic violence</li>
	<li><a href="/criminal-defense/theft-fraud/">Burglary</a></li>
	<li><a href="/criminal-defense/grand-theft/">Grand theft</a></li>
	<li>Weapons offenses</li>
	<li>Sex crimes</li>
	<li><a href="/criminal-defense/theft-fraud/">Theft and shoplifting</a></li>
	<li><a href="/criminal-defense/dui-attorney-deland/">Driving / Boating Under the Influence</a> (DUI / BUI)</li>
	<li>Driving on a suspended license</li>
</ul>
<p>Our goal is to ensure that your constitutional rights are protected and that you are not subject to illegal searches,
	seizures or improper questioning. We make sure that any evidence against you that was gathered illegally is not used
	in court. We determine whether law enforcement followed proper procedures with traffic stops or witness interviews
	and seek alternative dispositions and sentences when appropriate that may keep you out of jail or prison.</p>
<p>We welcome prospective clients and invite them to <a href="/contact/">contact us</a> for a free, no-obligation
	consultation about any felony or misdemeanor criminal matter.</p>