<p class="p-top">The most commonly charged felony for theft in Florida is Grand Theft. Grand Theft is charged when the
	value of item alleged to have been stolen is more than $300.00 and taken with an &ldquo;intent to permanently or
	temporarily deprive the owner of the property.&rdquo; At Philpott Law we understand the severe consequences those
	found guilty of this &ldquo;crime of dishonesty&rdquo; may face, not only in terms of the criminal penalties but
	also the potential damage to career and reputation.</p>
<p>Grand theft may be charged as either a 1st, 2nd or 3rd degree felony, depending primarily upon the value of the
	property at issue. Because the penalties can be severe if found guilty, it is crucial that you seek competent,
	reliable advice at the earliest opportunity. </p>
<h2>Theft Defenses</h2>
<p>There are several valid defenses to grand theft, including the following:</p>
<ul>
	<li><strong><em>Consent</em></strong> - If you reasonably believed the owner of the property gave you permission to
		take the property.</li>
	<li><strong><em>No Intent</em></strong> - The prosecutor must prove at trial that you intended to take property
		illegally. A viable defense can be established if you had good reason to believe that you were the rightful
		owner or had a joint, possessory interest in the property.</li>
	<li><strong><em>Obtaining or using for lawful purpose</em></strong> - If you could demonstrate that you had a legal
		right to take the property, or that you lawfully used or took property belonging to another.</li>
</ul>
<h2>Criminal Penalties for Grand Theft in Florida</h2>
<ul>
	<li><strong>First Degree Felony</strong> - The most serious charge, appropriate where the value of goods taken
		exceeded $100,000.00. A felony of the first degree is punishable by up to 30 years in prison.</li>
	<li><strong>Second Degree Felony</strong> - Charged where the value of property is between $20,000.00 and
		$100,000.00. Punishable by up to 15 years in prison, 15 years probation, and fines of up to $10,000.00.</li>
	<li><strong>Third Degree Felony</strong> - Involves the theft of property valued greater than $300.00. Punishable by
		a maximum of 5 years prison, 5 years probation and fines of up to $5000.00.</li>
</ul>
<p><strong>Philpott Law is here to Help.</strong></p>
<p>If you are charged or arrested for grand theft it is critical that you seek an experienced, knowledgeable attorney to
	assist you. Let a seasoned criminal defense attorney and former State prosecutor assist with your defense. Call
	today for your free consultation and case evaluation. 386-873-2884.</p>