<p><br>
	When you have been accused of a crime, the decisions you make could be life-changing. At Philpott Law, our criminal
	defense lawyers are problem-centered and people-focused. When we represent a client who has been charged with a
	crime, we place great emphasis on making the decisions that are right for their individual situation.</p>
<p>Our DeLand, Florida, attorney is Danny Philpott, a former Volusia County prosecutor. Our experience both prosecuting
	and defending criminal law cases equips us to handle a full range of crimes. Our experienced Criminal Defense
	Attorney is proud to serve clients in DeLand, Daytona Beach, Orange City, Deltona, and Sanford.</p>
<h2>Our Criminal Law Practice</h2>
<p>Our criminal law attorneys assist people with the following:</p>
<ul>
	<li><a href="/criminal-defense/criminal-offenses/">Defense against felony and misdemeanor charges</a>: Felonies
		are crimes generally punishable by more than one year in prison. Crimes that could be felonies include
		possession of certain drugs, burglary, grand theft, weapons offenses, sex crimes and aggravated battery.
		Misdemeanors are punishable by a year or less in county jail, not prison. Misdemeanors include driving on a
		suspended drivers license, domestic battery, petty theft, possession of marijuana under 20 grams and
		trespassing.</li>
	<li><a href="/criminal-defense/probation-violations/">Violations of probation</a>: Being accused of violating
		your probation (VOP) is serious. You could be re-arrested and jailed. It is important to have an attorney who
		understands the legal system thoroughly and can help determine your best course of action if you think you may
		be arrested for VOP. We advise people not to wait until they are arrested, but to be proactive and consult an
		attorney right away.</li>
	<li><a href="/criminal-defense/record-seals-expungements/">Record seals and expungements</a>: Depending on the
		circumstances, you may be able to limit who can see your criminal record. An expunged record is essentially
		removed from the public view and most public agency searches, while a sealed record is concealed from public
		view but is available to law enforcement and other government agencies. In both instances, potential employers
		cannot see your record.</li>
</ul>
<p>We welcome prospective clients and invite them to <a href="/contact/">contact us</a> for a free, no-obligation
	consultation about any criminal law matter.</p>