<p class="p-top">Petit theft is the least serious of theft offenses and pursuant to Florida Statute is reserved for
	cases involving theft of property valued less than $300.00. Although it may not seem to be a very serious offense,
	it is important to seek legal representation right away. </p>
<p>First degree petit theft involves the theft of property valued between $100.00 and $300.00, whereas Second degree
	Petit Theft involves the theft of property less than $100.00.</p>
<p>Just as with grand theft and other theft or fraud related cases there are reasonable defenses, many of them are the
	same, such as:</p>
<ul>
	<li><strong><em>Intent</em></strong> - The Prosecutor must prove that you intended to take the property with a
		criminal intent. </li>
	<li><strong><em>Value</em></strong> - The State must prove the value of property, and that it actually has a value.
	</li>

	<li><strong><em>Abandoned Property</em></strong> - For propert of little or no value, a reasonable defense is that
		no one really cared about the property. Perhaps it was left outside, or in the trash. </li>
</ul>
<h2>Criminal Penalties for Petit Theft</h2>
<p><strong><em>First degree Petit Theft</em></strong> - Applicable where the value of the property is between $100.00
	and $300.00, penaties may include a maximum of one-year in jail, one year probation, and fines of up to $1000.00. If
	you have a prior conviction for theft then you could be charged with First degree petit theft even if the value at
	issue is less than $100.00.</p>
<p><strong><em>Second Degree Petit Theft</em></strong> - A conviction for the theft of property valued at less than
	$100.00 could result in penalties of up to 6 months in jail, 6 months probation, and up to $500.00 in fines.</p>
<p><strong><em>Driver&rsquo;s License Suspension</em></strong> - A conviction for Petit Theft can result in a suspension
	of your driver&rsquo;s license for 6 months, or for 1 year for a second or subsequent conviction. </p>
<p><strong>Call Philpott Law Today</strong></p>
While Petit Theft is less serious than other theft related cases, the impact that a conviction can have on your career
and reputation can be significant. Call Philpott Law today and let a former prosecutor assist you with your defense.
386-873-2884.</div>