<p class="p-top">When a person is facing sentencing for a criminal offense, whether it is because of losing a case at
	trial or a negotiated plea with the State Attorney&rsquo;s Office, there are only three potential outcomes. One is
	<strong>incarceration</strong>, the second is <strong>probation</strong> and the third is a hybrid of probation
	called <strong>community control</strong>.
</p>
<h2>What is probation?</h2>
<p><strong>Probation</strong>, simply put, is a form of community supervision. While probation is often more desirable
	than prison, it does come with conditions that must be strictly followed.  Usually being placed on probation
	requires monthly reporting to a probation officer assigned by the court. Probationers must pay monthly fees and
	perform other requirements such as doing community service hours, submit to drug / alcohol screenings and abide by
	other Orders imposed by the court. Failing to comply can violate one&rsquo;s probation. Violating probation can and
	often does result in a prison sentence. Don&rsquo;t let this happen to you! </p>
<h2>What is Community Control?</h2>
<p>Like probation, <strong>community control</strong> is another form of community supervision but stricter. Community
	Controls requires, among other things, that you remain at home unless allowed to leave by your community control
	officer. Many refer to community control as like being in jail, but in your home. You will be required to meet many
	of the same conditions as probation, but community control requires weekly reporting rather than monthly. </p>
<h2>Violations of Probation and Community Control</h2>
<p><strong><em>Technical Violation:  </em></strong>There are two primary ways probation and community control can be
	violated. The first way is by committing a <strong><em>technical violation, </em></strong>or in short, by failing to
	satisfy the conditions of probation or community control. Examples of a technical violation include:</p>
<ul>
	<li>Failure to report to the probation office.</li>
	<li>Failure to attend a required class, treatment, or counseling session. </li>
	<li>Having a positive drug or alcohol test.</li>
	<li>Failing to follow through with performing community service hours.</li>
	<li>Failing to report a change of address.</li>
	<li>Failing to remain at home (community control)*</li>
</ul>
<p>* Failing to remain at home is a major community control violation. Community Control officers may show up at your
	home without any notice and catch offenders outside of the home. </p>
<p><strong><em>New Law Violation</em></strong>:  The second way probation or community control can be violated is by
	violating the law by getting re-arrested. This is referred to as committing a &ldquo;<strong><em>new law
			violation</em></strong>.&rdquo; Importantly, a violation based on a new law violation means that in addition
	to needing to resolve the probation violation, there is a new case against you. Often your cases are before
	different courts, different judges and sometimes in different jurisdictions.  Also, a violation of either probation
	or community control will in many cases result in being taken into custody without a bond.</p>
<p>Contact your probation officer if you think that an arrest for VOP is imminent</p>
<h2>How Can We Help?</h2>
<p>Although each client's circumstances vary, here are some of the actions we may take on behalf of an individual
	charged with violating probation:</p>
<ul type="disc">
	<li>File a motion for a bond hearing if our client is in jail</li>
	<li>Defend the client at a probation revocation hearing and explain mitigating circumstances; for example, if the
		client was unable to pay restitution because of a temporary layoff</li>
	<li>Advise about the best course of action; for example, never admit to the violation</li>
	<li>Help the client seek drug or alcohol treatment if that is associated with the VOP</li>
</ul>
<h2>Accused of violating your probation?</h2>
<p>Regardless of whether you are accused of a <strong>technical violation</strong> or a <strong>new law
		violation</strong>, it important that you take it seriously as there may be a sufficient ground to put you in
	jail! If this happens to you then it is important that you have a trained, experienced criminal defense attorney and
	former prosecutor by your side.</ <p>At Philpott Law, we help people throughout Central Florida, including DeLand,
	Deltona, Orange City, and Daytona Beach fight allegations of probation violation. <a href="/contact/">Contact us</a>
	today at 386-873-2884. We welcome prospective
	clients and invite them for a free, no-obligation consultation about a violation of probation.</p>