<h2>Why Should I Attempt to have my Criminal Record Sealed or Expunged?</h2>
<p>A criminal arrest record, even if you are never charged by the prosecutor, can ruin your life. You may become
	ineligible for certain jobs, financial aid, professional licenses, or housing. Unless you take action, it will not
	go away. However, you do have options. </p>
<p>Florida law allows you to seal or expunge your criminal arrest record under certain circumstances, allowing you to
	respond honestly to questions asked by potential employers, landlords and educational institutions. Circumstances
	where record sealing, or record expungement, are an option include: </p>
<ul>
	<li>When charges were never filed or were dismissed.</li>
	<li>When charges were dropped because the case never went to trial due to a pretrial diversion.</li>
	<li>When the conviction was withheld after a plea of guilty or no contest, or they were found guilty.</li>
	<li>When the client was charged and found not guilty.</li>
</ul>
<h2>What is the difference between a record seal and a record expungement?</h2>
<p>A <strong>record seal</strong> doesn&rsquo;t destroy the record but prevents it from public viewing. A <strong>record
		expungement</strong> has the effect of destroying your criminal record from state or federal data banks and
	allows the court to treat your offense as if it never occurred.</p>
<ul>
	<li>Florida only allows for one lifetime record seal or expungement. </li>
	<li>If the Court &ldquo;withheld adjudication&rdquo; you may be eligible for a record seal, unless it is among the
		types of cases excluded from consideration. </li>
	<li>If you have been adjudicated guilty of <em>any crime, misdemeanor of felony, you will not qualify for an
			expungement.</em></li>
</ul>
<h2>Benefits of Expungement</h2>
<ul>
	<li>Record is removed from public viewing from official, court data banks.</li>
	<li>Enhanced employment opportunities. Many employers will not hire or retain someone with a criminal record.</li>
	<li>Opportunity to wipe the slate clean, and get a fresh start.</li>
</ul>
<h2>Cases that do not qualify for expungement (Unless case is dismissed)</h2>
<ul>
	<li>Assault, battery, domestic violence<strong></strong></li>
	<li>Robbery<strong></strong></li>
	<li>Arson<strong></strong></li>
	<li>Endangerment to Children<strong></strong></li>
	<li>Kidnapping<strong></strong></li>
	<li>Homicide, Manslaughter<strong></strong></li>
	<li>Carjacking<strong></strong></li>
	<li>Others as set forth in Florida Statute § 943.045</li>
</ul>
<h2>About Attorney Danny Philpott</h2>
<p>Attorney Danny Philpott is an experienced criminal defense attorney and he has a background as a former prosecutor.
	He knows the local criminal justice system thoroughly and has helped many clients seeking to seal or expunge their
	criminal records. </p>
<p>Have questions about whether your case qualifies to be sealed or for expungement? Let an experienced criminal defense
	attorney and former prosecutor serving the DeLand, Deltona, DeBary, Orange City and Daytona Beach areas go to work
	for you! <a href="/contact/">Contact</a> Philpott Law today at 386-873-2884 to
	schedule your free consultation and case evaluation.</p>