<h2><a name="general" id="general"></a>General Law Practice</h2>
<p>Philpott Law offers its clients representation for property-related matters, such as landord/tenant disputes. Located
	in DeLand, Florida, our attorneys welcome clients from throughout Central Florida including Daytona Beach, Orange
	City, Deltona and surrounding areas.</p>
<h2>Our Civil Practice</h2>
<p>Our law firm handles civil matters in property law such as:<br>

	<a name="landlord" id="property"> </a>
<p><strong>Property.</strong> Property law is a division of civil law that encompasses a broad range of issues. Many
	firms specialize in specific areas of property law, such as foreclosures and bankruptcy. Property law sometimes
	involves issues of real estate contracts or leases. Our firm practices in the area of general property law and deals
	primarily in matters involving:</p>
<ul>
	<li>Landlord/Tenant</li>
	<li>Quit-claim deeds</li>
	<li>Quiet title actions</li>
	<li>Adverse possession claims/defense</li>
	<li>Declaration judgements</li>
	<li>Miscellaneous civil maters</li>
</ul>
<p>Did you know... </p>
<ul>
	<li>That claims for money damages less than $5,000.00 may be persued in small claim court and usually does not
		require an attorney.</li>
	<li>That claims less than $15,000.00 but more than $5,000.00 must be filed in county court?</li>
	<li>That claims more than $15,000.00 must be filed in the circuit court?</li>
	<li>That in some circumstances a court may award remedy in a contracts case even when no written or verbal contract
		exists between the parties!</li>
	<li>That a court may award you land or property even though you are not the 'title' or 'record' owner</li>
</ul>