<p><br>
	Philpott Law serves the legal needs of clients in DeLand and surrounding communities including Deltona, Orange City,
	Daytona Beach and throughout Central Florida. We focus on resolving clients' problems in Family Law matters and
	Criminal Defense charges, relying on our knowledge of the law and our people-focused approach to give clients the
	representation they need.</p>
<h2>Family Law</h2>
<p><a href="/family-law">Family law</a> relates to marriage, parental rights and responsibilities to
	children and – unfortunately for many – divorce. The institution of marriage itself is a contract between a husband
	and a wife and the state. When the contract is broken, lawyers and courts assist families with the issues of
	separation such as child support, child custody and distribution of marital assets. While this is always a difficult
	time for families, proper guidance and representation is important to safeguard your interests. Our law firm can
	help with matters such as these:</p>
<ul>
	<li>Dissolution of marriage/divorce</li>
	<li>Child support, visitation rights and modifications</li>
	<li>Alimony and support modifications</li>
	<li>Contempt and enforcement proceedings </li>
	<li>Prenuptial agreements</li>
	<li>Paternity actions</li>
	<li>Marriage settlement agreements</li>
	<li>Temporary and permanent injunctions</li>
</ul>
<h2>Criminal Law</h2>
<p>Under our system of justice, certain rights are protected and guaranteed by the U.S. and Florida Constitutions. For
	example, a criminal defendant has the right to a jury trial and the right to have the state prove its allegations
	beyond a reasonable doubt. Many people are familiar with Miranda rights provided by the Fifth Amendment – the right
	to remain silent, the right to have an attorney present during questioning, and the right to have an attorney
	appointed if they cannot afford one. However, many are not aware that the Miranda ruling is based upon the real life
	case of Ernesto Miranda in the case of Miranda v. Arizona in 1966, a case that was heard by the U.S. Supreme Court.
	The Court held in Miranda's case that coerced confessions or statements provided to police without providing an
	opportunity to have an attorney unconstitutionally infringes upon personal rights. As a result of this case, Miranda
	warnings must be read to every suspect in police custody and under interrogation. People charged with criminal
	offenses have Miranda rights and many other rights. It is important to have an attorney to help defend them.</p>
<p>Our law firm handles <a href="/criminal-defense">criminal cases</a> involving:</p>
<ul>
	<li>Felony crimes</li>
	<li>Misdemeanor crimes</li>
	<li>Violations of probation</li>
	<li>Juvenile offenses</li>
	<li>Bond reduction hearings</li>
	<li>Burglary/robbery</li>
	<li>Weapons charges</li>
	<li>Drug offenses /drug trafficking</li>
	<li>Sex offenses</li>
	<li>Domestic violence</li>
	<li>DUI/DWI traffic offenses</li>
	<li>Theft (petty &amp; grand larceny)</li>
	<li>Assault &amp; battery</li>
</ul>
<h2>General Civil Practice</h2>
<p><a href="general-civil-law/">Civil law</a> is an extremely broad area of law that deals in private rights as
	opposed to criminal or administrative law. However, some areas of civil law, such as intentional torts, may be both
	civil and criminal in nature (e.g., assault, battery, false imprisonment, trespass). Another large body of civil law
	deals with claims rooted in negligence (e.g., personal injuries resulting from auto accidents, slip-and-falls, etc).
	In negligence cases, the plaintiff or person who files the lawsuit must allege and prove that the defendant owed a
	duty of care to the plaintiff and that the defendant (defending party) breached that duty. Sometimes a defendant may
	even be strictly liable, which means if a particular event occurred, there may be no reasonable defense.</p>
<p>Our firm's civil law practice includes:</p>
<ul>
	<li>Contracts</li>
	<li>Property</li>
	<li>Landlord/tenant</li>
	<li>Miscellaneous civil matters</li>
</ul>
<p>Simply stated, civil law covers just about everything that is noncriminal.</p>
<p>We welcome prospective clients and invite them to <a href="/contact">contact us</a> for a free, no-obligation
	consultation about property, landlord-tenant and other civil law matters.</p>
</div>