<h2>Attorney Philpott</h2>
<img src="/docs/assets/images/danny-med.jpg" alt="Danny Philpott" title="Danny Philpott" class="pull-right hidden-xs"/>
<p>Danny Philpott was born near Baltimore, Maryland but grew up in the coalfields of the Appalachian mountains in
	southern West Virginia. He is an honorably discharged Vietnam-era veteran of the U.S. Army, having enlisted in the
	military at the age of seventeen.</p>
<p>After military service, he attended and graduated from the West Virginia Institute of Technology in Montgomery, WV
	with a Bachelor of Science degree in Public Service, with minors in Economics, Sociology, and Political Science.
</p>

<p>Mr. Philpott has held positions in non-profit, public interest organizations, government agencies as well as private
	industry. He has been an area resident (Port Orange) and businessman for more than twenty years. Mr. Philpott is a
	2005 graduate of Florida A&M University School of Law in Orlando.</p>
<p>After receiving his law degree, Mr. Philpott worked as an Assistant State Attorney in Volusia County. He began his
	legal career in the <strong>misdemeanor division</strong> of the DeLand office, prosecuting crimes in county court
	such as: </p>
<ul>
    <li>DUI</li>
    <li>Cannabis Possession</li>
    <li>Worthless Checks</li>
    <li>Domestic Violence</li>
    <li>Simple Battery</li>
    <li>Petit Theft</li>
    <li>Driver's License Violations</li>
</ul>

<p>After six months in the misdemeanor division he was transferred to the <strong>felony division</strong>, where he
	prosecuted crimes such as: </p>

<ul>
    <li>Felony DUI</li>
    <li>Felony Drug Possession</li>
    <li>Burglary</li>
    <li>Grand Theft</li>
    <li>Credit Card Fraud</li>
    <li>Fraud Against Public Agencies</li>
</ul>

<p>Mr. Philpott is a member of the Florida bar, and is licensed to practice law in all Florida state courts, as well as
	the U.S Middle District of Florida federal court.</p>
<h2>Areas of Practice</h2>
<ul>
    <li>Marital & Family Law</li>
    <li>Family Mediation</li>
    <li>Criminal Defense</li>
    <li>General Civil Practice</li>
</ul>
<h2>Bar Admissions</h2>
<ul>
    <li>Florida, 2006</li>
</ul>
<h2>Education</h2>
<ul>
    <li>
        <strong>Florida A&amp;M University College of Law, Orlando, Florida</strong>
        <ul>
            <li>J.D</li>
        </ul>
    </li>
    <li>
        <strong>West Virginia Institute of Technology, Montgomery, West Virginia, United States of America </strong>
        <ul>
            <li>Bachelor of Science</li>
        </ul>
        <ul>
            <li>Major: Public Service</li>
        </ul>
        <ul>
            <li>Minor: Economics, Sociology and Political Science</li>
        </ul>
    </li>
</ul>