---
layout: legacy-wrapper.njk
---
<div class="row">
	<div class="col-xs-12 col-lg-10 col-lg-offset-1 no-pad">
		<div class="col-xs-12 col-sm-4 homebox">
			<a href="/criminal-defense/"><img src="/images/criminal.png" class="img-responsive center-block"
					alt="Criminal Defense" />
			</a><br>
			<a href="/criminal-defense/criminal-offenses/">Criminal Offenses</a><br>
			<a href="/criminal-defense/record-seals-expungements/">Record Seals &amp;
				Expungements</a><br>
			<a href="/criminal-defense/probation-violations/">Violations of Probation</a>
		</div>
		<div class="col-xs-12 col-sm-4 homebox">
			<a href="/family-law/"><img src="/images/family.png" class="img-responsive center-block" alt="Family Law" />
			</a><br>
			<a href="/family-law/dissolution-of-marriage-divorce/">Dissolution of
				Marriage/Divorce</a><br>
			<a href="/family-law/time-sharing-child-support/">Time-Sharing &amp; Child Support</a><br>
			<a href="/family-law/modification-of-court-orders/">Modification of Court Orders</a>
		</div>
		<div class="col-xs-12 col-sm-4 homebox">
			<a href="/practice-areas/general-civil-law/"><img src="/images/civil.png"
					class="img-responsive center-block" alt="General Civil Practice" />
			</a><br>
			<a href="/practice-areas/general-civil-law#landlord/tenant/">Landlord/Tenant</a><br>
			<a href="/practice-areas/general-civil-law#property/">Property</a><br>
			<a href="/practice-areas/general-civil-law#general/">Miscellaneous Civil Matters</a>
		</div>
	</div>
</div>
<div class="col-xs-12">
	<hr />
	{{ content | safe }}
</div>