---
layout: legacy-wrapper.njk
---

<div id="pagetitle" class="col-xs-12">
	<h1>{{ header }}</h1>
</div>
<div id="sidebar" class="hidden-xs hidden-sm col-md-3 col-lg-3">
	<div id="sidebar-menu">
		<h2>Practice Areas</h2>
		<ul>
			<li>
				<h3>
					<a href="/family-law/">Family Law</a>
				</h3>
			</li>
			<li>
				<a href="/family-law/dissolution-of-marriage-divorce/">Dissolution of
					Marriage/Divorce</a>
			</li>
			<li>
				<a href="/family-law/time-sharing-child-support/">Time Sharing &amp; Child Support</a>
			</li>
			<li>
				<a href="/family-law/modification-of-court-orders/">Modification of Court Orders</a>
			</li>
			<li>
				<h3>
					<a href="/criminal-defense/">Criminal Defense</a>
				</h3>
			</li>
			<li>
				<a href="/criminal-defense/criminal-offenses/">Criminal Offenses</a>
			</li>
			<li>
				<a href="/criminal-defense/assault-battery/">Assault / Battery</a>
			</li>
			<li>
				<a href="/criminal-defense/drug-crimes/">Drug Crimes</a>
			</li>
			<li>
				<a href="/criminal-defense/dui-attorney-deland/">DUI / DWI</a>
			</li>
			<li>
				<a href="/criminal-defense/theft-fraud/">Theft / Fraud</a>
			</li>
			<li>
				<a href="/criminal-defense/grand-theft/">Grand Theft</a>
			</li>
			<li>
				<a href="/criminal-defense/petit-theft/">Petit Theft</a>
			</li>
			<li>
				<a href="/criminal-defense/record-seals-expungements/">Record Seals &amp;
					Expungements</a>
			</li>
			<li>
				<a href="/criminal-defense/probation-violations/">Violations of Probation</a>
			</li>
			<li>
				<h3>
					<a href="/practice-areas/general-civil-law/">General Civil Practice</a>
				</h3>
			</li>
		</ul>
	</div>
</div>
<div class="col-xs-12 col-md-9 col-lg-9">
	{{ content | safe }}
</div>