---
layout: legacy.njk
---
<div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
    <h1 class="h1l">Child Custody Attorney</h1>
    <p class="large"><br>If you are faced with a child custody situation, whether it is the result of a divorce or the
        result of being an unmarried parent, it is important to have an experienced family law attorney who can guide
        you through the legal process, either by agreement or in court. At Philpott Law we have experience in all types
        of custodial issues including child custody, child support, paternity rights, time sharing and parenting plans.
    </p>
    <div class="row">
        <div class="col-xs-12 col-md-4 smaller">
            <h3 class="h4l text-center">Child Support</h3><img src="/images/child-support.jpg"
                alt="Mom Holding Child's Hand" class="img-responsive">
            <p><br>We understand that child support matters can be especially emotional, so our firm will work closely
                with you to ensure your financial needs are secured during your divorce or separation so you will be
                able to adequately provide for your children.</p>
            <!--<a href="/Family-Law/Time-Sharing-Child-Support.shtml" class="btn btn-warning">Child Support Information</a>-->
        </div>
        <div class="col-xs-12 col-md-4 smaller">
            <h3 class="h4l text-center">Paternity</h3>
            <img src="/images/paternity.jpg" alt="Dad Lifting Daughter in Air" class="img-responsive">
            <p><br>Our firm will help you establish legal paternity so you can obtain custody or visitation rights that
                will allow you to enjoy all the benefits that come with being a parent.</p>
            <!--<a href="/Family-Law/Time-Sharing-Child-Support.shtml" class="btn btn-warning">Paternity Information</a>-->
        </div>
        <div class="col-xs-12 col-md-4 smaller">
            <h3 class="h4l text-center">Time-Sharing</h3><img src="/images/time-sharing.jpg"
                alt="Dad Waving to Daughter at Front Door" class="img-responsive">
            <p><br>We can help you develop a time-sharing arrangement, or parenting plan, to ensure your children get to
                spend equal time living with you after your divorce is finalized.
            </p>
            <!--<a href="/Family-Law/Time-Sharing-Child-Support.shtml" class="btn btn-warning">Time Sharing Information</a>-->
        </div>
    </div>
    <h2 class="h2l">Why Choose Family Law Attorney Danny Philpott?</h2>
    <ul>
        <li>He favors a resolution based approach to resolving family disputes rather than a litigation based approach.
        </li>
        <li>Over 13 years experience practicing family law has presented him with a very broad range of family issues
            and as a result he has developed a unique and varied skill set.</li>
        <li>He will “work outside the box” to solve problems that are often unique and particular to family situations.
        </li>
    </ul>
</div>