<p><br>
	Divorce can be a simple process, especially when there are no children and only personal property is involved.
	However, when divorce involves extended child custody battles and substantial assets like 401(k)s and family-owned
	businesses, divorce can be highly complex. In either instance, it is important to have a family law attorney guide
	you through the legal process, explain your options in clear language and provide the information you need to make
	the best possible decisions.</p>
<p>At Philpott Law, serving DeLand, Deltona, Daytona Beach, Sanford and surrounding areas, we adapt the services we
	provide to our clients' needs and goals. We understand that early resolution is often less frustrating and
	financially better for our clients and their children. For this reason, our <a title="Family Law"
		href="/family-law">family law attorneys</a> will work toward resolving your case quickly and
	economically, however complex the issues are. This approach allows clients to put the stress of divorce behind them
	quickly and move forward with their lives.</p>
<h2>Getting Started</h2>
<p>In Florida, no grounds for divorce are required. A marriage can be ended when spouses declare it to be irretrievably
	broken. There is, however, a residency requirement. A person must have lived in Florida for six months before
	seeking a divorce in the state.</p>
<h2>Mediation and Marital Settlement Agreements</h2>
<p>At Philpott Law, we encourage people to think about how to resolve issues outside of the courts. Often, we work with
	our clients to offer a proposed marital settlement agreement to the other side.</p>
<p>Under Florida law, mediation is usually required before a divorce goes to trial. If necessary, we can effectively use
	mediation techniques to help you resolve many divorce issues, including:</p>
<ul>
	<li>Child custody and visitation</li>
	<li>Child support</li>
	<li>Alimony/spousal maintenance</li>
	<li>Division of marital property and debts</li>
</ul>
<h2>Complex Property Division</h2>
<p>Florida is an equitable distribution state. Our courts try to divide marital assets and debts equitably, which does
	not necessarily mean 50/50. Our law firm is well equipped to help couples divide complex assets, including 401(k)s,
	pensions, investments and family-owned businesses, which can be difficult and time consuming.</p>
<p>We welcome prospective clients and invite them to <a href="/contact">contact us</a> for a free, no-obligation
	consultation about divorce/dissolution or related matters.</p>