<p><br>
	When legal issues affect your family, working with an experienced attorney is the best way to
	make sure that things go smoothly. At Philpott Law, we use our years of experience as a family
	law and divorce lawyer to help people throughout central Florida, including DeLand, Orange City,
	Deltona, Daytona Beach, and Sanford, make family law decisions that protect their interests and
	seek the best possible outcomes.</p>
<h2>Dissolution of Marriage/Divorce </h2>
<p>We represent people seeking <a href="/family-law/dissolution-of-marriage-divorce/">divorces</a> by offering
	knowledgeable and skilled legal counsel. We can help you understand the legal procedures
	involved in divorce, anticipate the decisions you may have to make and the possible outcomes
	that may come from those decisions. These include decisions about child custody and visitation,
	child support, alimony and the division of property and debts.</p>
<h2>Time-Sharing and Child Support</h2>
<p>At Philpott Law, we help clients resolve disputes over <a href="/family-law/time-sharing-child-support/">time-sharing
		and child support</a>. We
	understand that these matters can be especially emotional, so our lawyers work closely with you
	to help you meet your goals in matters such as:</p>
<ul>
	<li>Time-sharing agreements/parenting plans</li>
	<li>Child support</li>
</ul>
<p>Our lawyers can help you determine the best time-sharing, also known as custody, arrangements,
	working with you to develop those that meet your scheduling needs and are in the best interests
	of your children. We also help you understand the factors the court considers when determining
	the amount of child support to be paid or received.</p>
<h2>Modification of Court Orders </h2>
<p>As time passes, things rarely stay the same. Existing court orders often need to be changed to
	match new needs and situations. At Philpott Law, we can help with <a title="Modification of Court Orders"
		href="/family-law/modification-of-court-orders/">modification of existing court
		orders</a>, petitioning courts on behalf of our clients to have orders for child custody and
	visitation, child support, and alimony changed as the circumstances require.</p>
<p>Clients of our family law practice may also need the legal services of our criminal law attorney.
	Issues arising from domestic violence often spill over into the criminal arena. You may be
	charged with child endangerment or domestic abuse. In these situations, having the resources of
	our experienced criminal defense lawyer can be essential.</p>
<p>We welcome prospective clients and invite them to <a href="/contact/">contact us</a> for a
	free, no-obligation consultation about any family law matter.</p>