<p><br>
	As time passes after a divorce, things naturally change. Children grow older and their relationships with their
	parents change. Jobs are often gained or lost. Parents may remarry. They may seek to move away. Each one of these
	changes may require modifying an existing court order. At Philpott Law, serving DeLand, Daytona Beach, Orange City,
	Sanford and surrounding areas, we handle the modifications of previous final judgments of the court, including
	modifications of child support, alimony, and time-sharing when relocation by a parent is necessary.</p>
<h2>Child Support</h2>
<p>In Florida, child support is calculated based on a complex formula that takes into account the combined net income of
	the parents, less allowable deductions. When a parent's income substantially changes, the child support amount may
	be recalculated to better fit the family's needs. This may be because of a job loss or layoff, illness or job
	change.</p>
<h2>Relocation Within Florida or Out of State</h2>
<p>Unless parents can agree on relocation, the court must approve relocation requests before a parent can move with a
	child. It is important to speak with a lawyer who is current with the current laws governing modifications of child
	custody and visitation orders, helping our clients to adapt to changes in their lives as smoothly as possible. When
	addressing issues of relocation, Florida courts balance the best interests of the child, the parent who wishes to
	relocate and the remaining parent. They consider specific factors, like a better job opportunity or a remarriage.
</p>
<p>In relocation, one parent's relationship with the child will usually change because of the distance between the two.
	When the court allows parents relocate out of state, the other parent will usually have less time with the child. It
	is important to be aware of the consequences of such a change to minimize the negative effects of relocation on a
	child.</p>
<p>Our lawyers can also help former spouses seek modifications in spousal support/alimony amounts previously awarded.
	The need for such modifications arises when one spouse remarries or begins living (cohabiting) with another person.
</p>
<p>We welcome prospective clients and invite them to contact us for a free, no-obligation consultation about
	modifications of court orders. </p>