<p><br>
	Serving DeLand, Daytona Beach, Deltona, Orange City, and Sanford, Philpott Law handles a broad range of family law
	matters, including issues arising from disputes over time-sharing and child support. A note about terminology:
	Florida courts are moving away from using the terms "child custody" and "visitation." Although many people still use
	these terms, courts officially use the phrase "time-sharing" to describe the arrangements parents make to care for
	their children during and after a divorce.</p>
<h2>Time-Sharing</h2>
<p>Parents should know that the law values both parents equally. Mothers are not favored over fathers. Ideally, both
	parents will share parental responsibility and decision-making as well as involvement in a child's life. When
	determining child custody, courts look to the best interests of the child. Issues that are considered include the
	parents' work schedules, their health, where they live and the relationship they have with the child.</p>
<p>There are many variations in the arrangements that can be made for time-sharing. Parents can have equal
	responsibility for decision-making and living arrangements or one parent can be responsible for living arrangements
	while the other parent is awarded parenting time. When one parent is absent, incarcerated or severely ill, the other
	parent can be responsible for both decision-making and housing. What is best for one child may not be good for
	another. Each case is different. </p>
<h2>Child Support</h2>
<p>In Florida, child support is calculated according to a series of formal guidelines. It is important to work with an
	experienced lawyer to make sure that child support is calculated accurately and fairly and in accordance with the
	guidelines. Some people do not realize that child support is required when the parents of a child born outside of
	marriage live apart. An experienced family law attorney can explain how an unmarried mother can seek child support
	for a child.</p>
<p> We welcome prospective clients and invite them to <a href="/contact/">contact us</a> for a free, no-obligation
	consultation about time-sharing and child support in DeLand, Orange City, Deltona, Daytona Beach, Sanford, and
	surrounding Central Florida. </p>